<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/nav %>

  
    <h1>Search weather here</h1>
    
  <!-- <input type="search" id="form1" class="form-control search" />
 -->
 <input type="search" placeholder=" I am using weather API , Search here" class="srch">
  <button onClick="SearchWeather()" class="btn btn-dark">click for search</button>
  <div class="city"></div>
  <div class="temp"></div>

  <div class="lat"></div>
  <div class="lan"></div>
  <div class="error"></div>




  </div>


  <p>Click on the button for a surprise.</p>

  <button onClick="showPicture()" class="btn btn-dark">Click me</button>

  <div id="image"></div>
  
</body>

</html>